<div class="wrapper">
<section data-step="5">
  <div class="container">
    <article class="section-content">
       <h1>Ringo and Jennifer’s Perfect Harmony Privacy Policy</h1>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
      <p>This Privacy Policy was last modified on June 7, 2016</p>

		<p>Mr and Mrs. Ringo and Jennifer Bautista (“us”, “we”, or “our”) operates https://jennifer.ringo.ph (the “Site”). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
		<p>&nbsp;</p>
		<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
		<p>&nbsp;</p>
		<p><strong>Information  Collection and Use</strong></p>
		<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name (“Personal Information”).</p>
		<p>&nbsp;</p>
		<p><strong>Log Data</strong></p>
		<p>Like many site operators, we collect information that your browser sends whenever you visit our Site (“Log Data”). This log Data may include information such as your computer’s internet Protocol (“IP”) address, browser type, browser version, the pages of your Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

    </article>
  </div>
</section>
</div>



