<section id="story" class="video dark" data-step="5" >
  <div class="container">
    <article class="section-content">
       <h1 data-bind="text:displayName"></h1>
       <h3 data-bind="text:intro"></h3>

       <h3 data-bind="text:intro"></h3>
       <h3 data-bind="text:intro"></h3>
       <h3 data-bind="text:intro"></h3>
       <h3 data-bind="text:intro"></h3>
       <h3 data-bind="text:intro"></h3>
       <h3 data-bind="text:intro"></h3>

      <a href="#works" class="nav-arrow white"></a>
    </article>

    <video class="gijena" autoplay loop id="bgvid">
	    <source src="img/gijena.webm" type="video/webm">
	    <source src="img/gijena.mp4" type="video/mp4">
	    <source src="img/gijena.mov" type="video/mov">
	  </video>
  </div>
</section>

<section data-step="5" style="background-image:url(img/guitarsfooter.jpg);">
  <article class="section-content">
    <a class="splash-logo" href="#"><img class="img-responsive" src="img/logo-circle.png"/></a>
    <div class="underborder"></div>
     <div class="heading-ph" >
       <img src="img/perfect-harmony.png">
     </div>
 
     <div class="container">
        <div class="venue">
          <span>Blue Gardens</span>
          <span>060715</span>
          <span>4PM Sunday</span>
         </div>
      </div>

      <a href="#works" class="nav-arrow white"></a>
     </div>
  </article>
</section>