<div class="wrapper">
<section id="videos" class="first">
    <div class="row no-gutter">
        <div class="col-sm-12 center-block" style="height:200px;">
            <img class="img-responsive" src="img/bridesmaids.png" alt="" width="100%"/>
        </div>
        <div class="col-sm-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1ip54-y8VW4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oLYEodiwVK4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OxRrDH_BDEg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
</div>

<footer>
    <a href="#uploads" class="pull-right"><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button></a>
    <div class="text-center">
        built by the <a href="http://ringo.ph" class="mint-green">groom</a> with contents from the <a href="#" class="mint-green">bride</a> :D | <a href="#privacy" class="mint-green">privacy</a>
    </div>
</footer>