<div class="wrapper">
<section id="uploads" class="first">
    <div class="row no-gutter">
        <div class="col-sm-15 center-block">
            <a data-bind="click:$root.video" class="videolink"><img class="img-responsive" src="img/bridesmaids2.png" alt="" width="100%"/></a>
        </div>
        <div data-bind="foreach: images().sort(function (l, r) { return l.created() < r.created() ? 1 : -1 }), visible: images().length > 0">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/instalogo.png" class="icon">
                <!-- <div class="avatar">
                    <img data-bind="attr: { src: user }" class="img-responsive img-circle animated zoomIn" width="60" height="60"/>
                </div> -->
                <a href="#" class="thumbnail" data-bind="click:$parent.select">
                    <img data-bind="attr: { src: low }"/>
                </a>
            </div>
        </div>
    </div>

    <div class="row" data-bind="foreach: facebook">
        <div class="col-sm-3 col-md-2">
        	<div class="avatar">
        		<img data-bind="attr: { src: picture }" class="img-circle" width="60" height="60"/>
        	</div>
            <a href="#" class="thumbnail" data-bind="click:$parent.select">
                <img data-bind="attr: { src: images[0].source }"/>
            </a>
        </div>
    </div>
</section>
</div>

<footer>
    <a href="#uploads" class="pull-right"><button class="btn btn-default"><i class="fa fa-arrow-up"></i></button></a>
    <div class="text-center">
        built by the <a href="http://ringo.ph" class="mint-green">groom</a> with contents from the <a href="#" class="mint-green">bride</a> :D | <a href="#privacy" class="mint-green">privacy</a>
    </div>
</footer>